@import url("https://fonts.googleapis.com/css?family=Roboto:600,400,500,300");

html {
  left: calc(100vw - 100%);
}

body {
  font-family: Roboto;
  background: #e9ebee;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.top {
  height: 80px;
  width: 100%;
  background: #fff;
  text-align: center;
}

.wrapper {
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.participantlist {
  float: right;
  width: 40%;
}

.resultlist {
  width: 50%;
}

.gencontainer {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-height: 100px;
  max-height: 70%;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  transition: 300ms ease;
}

.newgroupcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding-top: 50px;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.spaced-header {
  border-bottom: 2px solid #e4e4e4;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 15px;
}

.item {
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.item:hover {
  background: #f5f5f5;
}

.timestamp {
  font-size: 11pt;
  color: #a0a0a0;
  width: 150px;
  text-align: right;
}

.raisedbut {
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  background: #43a047;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 2px;
  transition: 300ms ease;
  font-size: 0.875rem;
  font-family: Roboto;
  letter-spacing: 0.08929em;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.raisedbut:hover {
  background: #4caf50;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 3px 2px rgba(0, 0, 0, 0.25);
}

.raisedbut:focus {
  background: #4caf50;
}

.flatbut {
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  background: #fff;
  outline: none;
  border: none;
  color: #757575;
  border-radius: 2px;
  transition: 300ms ease;
  font-size: 0.875rem;
  font-family: Roboto;
  letter-spacing: 0.08929em;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.flatbut:hover {
  background: #f5f5f5;
  color: #212121;
  cursor: pointer;
}

.flatbut:focus {
  background: #fff;
}

.floatright {
  float: right;
}

a {
  color: #43a047;
  text-decoration: underline;
}

.geninpdiv {
  position: relative;
  height: 60px;
}

.gentxtinp:focus ~ .floating-label,
.gentxtinp:not(:focus):not([value=""]) ~ .floating-label,
.gentxtinp:disabled ~ .floating-label {
  top: 2px;
  left: 0px;
  font-size: 12px;
  opacity: 1;
  color: #43a047;
}

.gentxtinp:disabled {
  background: #fff;
  color: gray;
  border-bottom-color: gray;
  cursor: not-allowed;
}

.gentxtinp:disabled ~ .floating-label {
  color: gray;
}

.gentxtinp {
  margin-top: 12px;
  font-size: 14pt;
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
}

.gentxtinp:focus {
  border-bottom: 2px solid #43a047;
}

.gentxtinp:not(:focus):valid ~ .floating-label {
  color: #000;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 25px;
  transition: 200ms ease;
}

.loadingicon {
  width: 20px;
  height: 20px;
  background-color: #43a047;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#divcloak {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: 0;
  z-index: 1100;
  transition: all 300ms ease;
  visibility: hidden;
}

#modal {
  height: auto;
  transition: all 500ms ease;
  opacity: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 25px;
  position: absolute;
  width: auto;
  left: 50%;
  top: -100%;
  transform: translate(-50%);
  z-index: 1300;
  border-radius: 5px;
  margin-bottom: 50px;
}

#modal::-webkit-scrollbar {
  display: none;
}

#hidformexit {
  right: 13px;
  top: 13px;
  cursor: pointer;
  font-size: 14pt;
  position: absolute;
}

#overlay::-webkit-scrollbar {
  display: none;
}

#overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 1200;
  overflow-y: hidden;
  visibility: hidden;
}

#overlay.is-show {
  visibility: visible;
  overflow-y: scroll;
}

.material-icons {
  vertical-align: middle;
}

.icolab {
  vertical-align: middle;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: translate(-20px);
    transform: translate(-20px);
  }
  50% {
    -webkit-transform: translate(20px);
    transform: translate(20px);
  }
  100% {
    -webkit-transform: translate(-20px);
    transform: translate(-20px);
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: translate(-20px);
    transform: translate(-20px);
  }
  50% {
    -webkit-transform: translate(20px);
    transform: translate(20px);
  }
  100% {
    -webkit-transform: translate(-20px);
    transform: translate(-20px);
  }
}

@media all and (max-width: 1000px) {
  .participantlist {
    width: 90%;
  }

  .resultlist {
    width: 90%;
  }

  #modal {
    margin-bottom: 20px;
  }

  #modal.is-show {
    top: 20px;
  }

  #hidformexit {
    font-size: 18pt;
  }

  .gentxtinp {
    width: 100%;
  }
}

@media all and (max-width: 750px) {
  #modal {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media all and (max-width: 700px) {
  .newgroupcont {
    width: 100%;
  }
}
